/Code/.idea
/Code/out
/Code/Pong/bin
/Code/Pong/.settings
/Code/Pong-android/bin
/Code/Pong-android/.settings
/Code/Pong-desktop/bin
/Code/Pong-desktop/.settings
/Code/Pong-html/.settings
/Code/Pong-html/.gwt
/Code/Pong-html/gwt-unitCache
